@import "tailwindcss";

html, body {
  height: 100%;
}

body {
  background: #0B0D10; /* coal */
  color: #F4F1E8;      /* foam */
}
.grain:before{
  content:"";
  position:absolute;
  inset:0;
  pointer-events:none;
  opacity:.10;
  mix-blend-mode:overlay;
  background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='220' height='220'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='220' height='220' filter='url(%23n)' opacity='.35'/%3E%3C/svg%3E");
}

@keyframes loading {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(300%); }
}

.animate-loading {
  animation: loading 1.1s ease-in-out infinite;
}

